/*
    Title:              Incident Tracker
    Authors' Names:     Justin Hellsten http://advanceweb.justinhellsten.com/project2/
                        Michael Burnie  http://comp2068.michaelburnie.com/project2/
    File Name:          dashboard.css
    Description:        This is the dashboard style sheet. Header, content, and footer styling all applied here for dashboard pages.
    Last Modified Date: 2014/04/13
*/
body {
    font-family: "Ubuntu";
	line-height: 1.5em;
}
div#header {
	text-align: center;
    background: #2F7C84;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	font-size: 0;
	padding: 16px 8px;
}
div#header > div {
	display: inline-block;
	font-size: 16px;
	vertical-align: middle;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

div#header-right-panel {
	margin-top: 10px;
}

div#header a {
    text-decoration: none;
    color: #111111;
}
div#header a, nav, div#welcome {
	display: inline-block;
	vertical-align: middle;
}
div#header nav {
}
div#header nav > a {
	padding: 0em 1em;
}
div#header h1 {
    font-size: 2em;
    font-family: "Vollkorn";
}
div#welcome {
	text-transform: capitalize;
}
div#welcome:before { content: "Welcome, "; }
div#welcome:after { content: "!"; }


/* Content CSS */
div#content h1 {
	text-align: center;
	font-weight: normal;
	font-family: "Josefin Slab";
}
div#content h1 { font-size: 2em; color: #333333; margin: 1em 0em; }
div#content h1:first-child { margin-bottom: 1em; }
div#content form {
	width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 1em;
}
div#content form div.finput { 
	padding-bottom: 16px; 
	width: 100%;     
	font-size: 0;
}
div#content form div.finput * { 
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	display: inline-block;
	vertical-align: middle;
}

div#content form textarea { resize: none; }
div#content form div.finput input[type="text"], input[type="password"], input[type="email"], textarea {
    border: 1px solid #AAAAAA;
    box-shadow: 1px 1px 0 0 #474747;
	padding: 0.5em;
	font-family: "Ubuntu";
	color: #333333;
}
div#content form div.finput input[type="text"], input[type="password"], input[type="email"], textarea { width: 60%; }
div#content form div.finput select { width: 60%; border: solid 1px #AAAAAA; padding: 0.1em; font-family: "Ubuntu"; }
div#content form div.finput select option { display: block; }
div#content form label {
	width: 40%;	
	text-align: right;
	padding-right: 1em;
}

div#content label { font-size: 14px; color: #333333; }

div#content input[type="checkbox"] {
	display: none;
}
div#content input[type="checkbox"] + label {
    display:inline-block;
    width:19px;
    height:19px;
	margin:-1px 4px 0 0;
    vertical-align:middle;
	background: url('../imgs/check_radio_sheet.png') left top no-repeat;
	cursor:pointer;
}
div#content input[type="checkbox"]:checked + label {
    background:url('../imgs/check_radio_sheet.png') -19px top no-repeat;
}

div#content form input[type="submit"] {
    -moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    -webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
    box-shadow:inset 0px 1px 0px 0px #bee2f9;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
    background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
    background-color:#63b8ee;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #3866a3;
    display:inline-block;
    color:#14396a;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #7cacde;
    cursor: pointer;
    margin-top: 10px;
	margin-left: 40%;
	margin-bottom: 1em;
}
div#content form input[type="submit"]:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
    background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
    background-color:#468ccf;
}
div#content form input[type="submit"]:active {
    position:relative;
    top:1px;
}


/* Table Styling */
table {
	border: solid 1px #AAAAAA;
	width: 100%;
	border-spacing: 0.5rem;
	text-align: center;
    font-size: 0.75em; 
}
table th { font-family: "Verdana";  color: #000000; background: #2F7C84; font-weight: normal; }
table tr.row-status-Closed { background: #808080; }
table tr.row-status-Need { background: #FF0066; } 
table tr.row-status-In { background: #3399FF; } 
table tr.row-status-Resolved { background: #66FFFF; } 
table tr.row-status-Assigned { background: #33CC33; }
table tr.row-status-NEW { background: #FFFF00; }
table tr.submitted-date { background: #2F7C84; }
table tr.priority { background: #AC1F42; }
table tr.description { background: #C3DED3; }
table tr.resolution { background: #E42220; }
table tr.incident-id { background: #99FF33; }
table tr.customer { background: #CCFF99; }

table a {
	color: #000000;
}
table a:hover { color: #3C56B6; }

table#incident-details ul { list-style-type: none; }

div#footer {
    background: url('../imgs/blue_background-wide.jpg');
    background-size: 100% 100%;
    font-size: 0;
    text-align: center;
}

div#footer div.social-links {
    display: inline-block;
    padding: 30px 30px 0px 30px;
    vertical-align: middle;
}
div#footer div.social-links > a {
    font-size: 32px;
    color: #000000;
    font-family: "Josefin Slab";
    text-align: center;
    text-decoration: none;
}
div#footer div#copyright {
    font-size: 14px;
    display: inline-block;
    padding: 30px;
    vertical-align: middle;
}
div#footer div#copyright a {
    color: #000000;
}

.facebook-32, .twitter-32, .linkedin-32, .github-32 { width: 32px; height: 32px; display: inline-block; background-position:center; margin: 2px;}
.facebook-32 { background-image: url('../imgs/social_media_icons/facebook/facebook-32.png'); background-color: #3B5998; }
.twitter-32 { background-image: url('../imgs/social_media_icons/twitter/twitter-32.png'); background-color: #00ACED; }
.linkedin-32 { background-image: url('../imgs/social_media_icons/linkedin/linkedin-32.png'); background-color: #007FB1; }
.github-32 { background-image: url('../imgs/social_media_icons/github/github-32.png'); background-color: #4183C4; }


