body {
    font-family: "Ubuntu";
	background: #FFFFFF;
}

div#header {
	background: #2F7C84;
}
div#header h1 {
	font-size: 2em;
	font-family: "Vollkorn";
	padding: 0.70em 0.5em 0.5em 1em;
}

div#content {
	padding: 2em;
}

form h1 {
	color: #333333;
	font-size: 2em;
	width: 500px;
	margin: 0.5em 0em;
	font-weight: normal;
	font-family: "Josefin Slab";
}

form {
}

form input {
	border: solid 1px #AAAAAA;
	margin: 0.5em 0em;
	padding: 0.25em;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(71,71,71,1);
	-moz-box-shadow: 1px 1px 0px 0px rgba(71,71,71,1);
	box-shadow: 1px 1px 0px 0px rgba(71,71,71,1);
	width: 300px;
}
form input.register-button {
	cursor: pointer;
	width: 100px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
form input.register-button:hover, form input.register-button:focus {
	background: #D4D8E5;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

footer {
	
}

